<h1>Crossword</h1>
<p>Simple crossword solver</p>
&nbsp; &bullet;&nbsp; Words up to 28 letters<br>
&nbsp; &bullet;&nbsp; 110,000 word dictionary<br>
&nbsp; &bullet;&nbsp; Web search word definitions<br>
&nbsp; &bullet;&nbsp; Anagram search<br>
&nbsp; &bullet;&nbsp; Themes<br>
<h2>Solve crossword entries</h2>
<p>
  Set the number of letters in the word you are looking for using the
  dropdown. If the slots won't fit on the screen, rotate the phone so
  they will. The letter slots will scroll sideways. The longest word
  in the dictionary is antidisestablishmentarianism, which is 28
  letters. Even if 28 slots won't fit on the screen, the app should
  still find this word.
</p>
<p>
  Fill in the letters you have in the the correct position in the
  first row of slots, coloured green. Fill in letters that are in the
  word in any position in the second row of slots, coloured yellow. As
  each letter is entered the next slot will be selected and the app
  will search for words. You can also use the keyboard <b>Next</b>
  button or the <b>Search</b> button to search. A stop character may
  be used as a wildcard.
</p>
<p>
  The search will find words that have the letters in the first row in
  the position entered, and the letters in the second row in any
  position.
</p>
<p>
  A list of matching words will appear below. If you select a word
  in the list, the slots will be filled in with that word, and a new
  screen will show a web search for the definition of the word
  on <a href="https://duckduckgo.com">DuckDuckGo</a>. You may select
  links on the page and navigate back using the <b>Home</b> button
  on the toolbar.
</p>
<p>
  There are three icons in the toolbar: <b>Anagram</b>, which will
  show the anagram screen, <b>Help</b>, which will show the help
  screen, and <b>About</b>, which will show the copyright, licence and
  version.
</p>
<p>
  And on the menu: <b>Dark theme</b>, which will change the app
  theme. On Android 6, Marshmallow, the theme will not change until
  you rotate the device or restart the app. On other versions the
  theme will change immediately. This is due to an issue with Android
  6 which would otherwise cause the app to crash.
</p>
<h2>Solve anagrams</h2>
<p>
  Type in the word or phrase you want anagrams for, and use the
  keyboard <b>Next</b> button or the <b>Search</b> button to
  search. The search may take a while, depending on the length of the
  phrase. During the search the <b>Search</b> button is disabled. The
  anagram search uses a smaller 58,000 word dictionary to reduce the
  search time, and because the larger dictionary contains a large
  number of not very useful three and four letter words and acronyms.
</p>
<p>
  Touch any blank area on the display to select all of the input
  field, so further input will replace it. Don't enter anything other
  than letters and blanks or the search will fail.
</p>
<p>
  A list of anagrams will appear below, sorted in reverse order of
  value, derived from Scrabble letter values. If you select an entry
  in the list, the entry will be copied to the input field and a new
  screen will show a web search for the definition of the entry
  on<a href="https://duckduckgo.com">DuckDuckGo</a>.
</p>
<p>
  The results are ordered by an algorithm using Scrabble letter values to
  hopefully get the more interesting anagrams to the top of the list. That
  doesn't mean that some gems might not be hiding down the list.
</p>
<p>
  This anagram algorithm is intended as a useful additional function
  to the crossword clue search, but is in no way comprehensive. Use
  one of the online anagram sites, such as at
  <a href="https://wordsmith.org/anagram/">Wordsmith.org</a>
  for a more comprehensive search.
</p>
